<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regression Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function addPoint(event) {
            event.preventDefault();
            let xValue = document.getElementById("xValue").value;
            let yValue = document.getElementById("yValue").value;

            fetch("/add_point", {
                method: "POST",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: `x=${xValue}&y=${yValue}`
            })
            .then(() => location.reload()); 
        }

        function clearData() {
            fetch("/clear_data", { method: "POST" })
            .then(() => location.reload()); 
        }
    </script>
</head>
<body>
    <h1><strong>Regression Calculator</strong></h1>

    <div class="container">
        <form onsubmit="addPoint(event)">
            <label for="xValue">x:</label>
            <input type="number" id="xValue" name="x" required>
            <label for="yValue">y:</label>
            <input type="number" id="yValue" name="y" required>
            <button type="submit" class="button-19">Add Point</button>
            <button type="button" onclick="clearData()" class="button-19" style="background-color: red;">Clear Data</button>
        </form>
    </div>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload CSV">
    </form>

    <h2 id="result">{{ result_text }}</h2>

    <div class="main-content">
        <table>
            <tr>
                <th>X</th>
                <th>Y</th>
            </tr>
            {% for row in data_points %}
            <tr>
                <td>{{ row.x }}</td>
                <td>{{ row.y }}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="regression-container">
            {% if plot_url %}
                <h2>Regression Plot:</h2>
                <img id="regressionPlot" src="{{ plot_url }}" alt="Regression Plot" width = '5000px' height '7000px'>
            {% endif %}
        </div>
    </div>
</body>
</html>
